@if(loading){
  <div class="card flex min-h-screen justify-content-center align-items-center">
    <p-progressSpinner ariaLabel="loading" />
  </div>
} @else {
  <app-navbar/>
  <div class="card w-full mx-auto lg:w-9">
    <p-table
      #dtproducts
      [value]="products"
      [paginator]="true"
      [rows]="10"
      [loading]="loading"
      [globalFilterFields]="['name']"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '75rem' }"
      [rowsPerPageOptions]="[10, 25, 50, 100]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
      <ng-template pTemplate="caption">
        <div class="flex flex-wrap justify-content-end gap-2">
          <p-iconField iconPosition="left">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input
              pInputText
              type="text"
              (input)="dtproducts.filter($any($event.target).value, 'category', 'contains')"
              placeholder="Search by Category"/>
          </p-iconField>
          <p-iconField iconPosition="left">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input
              pInputText
              type="text"
              (input)="dtproducts.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Search by Name"/>
          </p-iconField>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Name
            <p-sortIcon field="name"></p-sortIcon>
          <th>Description</th>
          <th pSortableColumn="price">Price
            <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th pSortableColumn="category">Category
            <p-sortIcon field="category"></p-sortIcon>
          </th>
          <th pSortableColumn="stock">Stock
            <p-sortIcon field="stock"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price | currency:'CLP':'symbol-narrow':'1.0-0' }}</td>
          <td>{{ product.category }}</td>
          <td>
            <p-tag [severity]="getSeverity(product.stock)">
              {{ product.stock }}
            </p-tag>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Total Products: {{ totalRecords }}
      </ng-template>
    </p-table>
  </div>
}
